<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Busca de Filmes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../js/movie.js"></script>
</head>

<body
    style="background-image: url(../image/image.jpg); background-position: center; background-repeat: no-repeat; background-size: cover">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="formulario.html">Formulário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="grid.html">Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="MovieAPI.html">ApiMovie</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="p-3">

        <div class="card-header">
            Filmes
        </div>
        <div class="card">
            <div class="jumbotron text-center">
                <h1>Busca de Filmes</h1>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <form>
                                <input id="nameMovie" class="form-control" type="text"
                                    placeholder="Digite o nome do filme...">
                                <br />
                                <a class="btn btn-primary"
                                    onclick="searchMovies(document.getElementById('nameMovie').value)">Buscar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 id='title'></h3>
                        <p id='description'></p>
                        <p id='imdb'></p>
                        <img id="my_image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

</body>

</html>